<a href="https://colab.research.google.com/github/joaquinparodi/TP1-DATOS/blob/main/tp2_orga_full_team_ultmate_version.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# importacion general de librerias y de visualizacion (matplotlib y seaborn)
!pip install ptitprince
import ptitprince as pt
import pandas as pd
import numpy as np

Collecting ptitprince
  Downloading https://files.pythonhosted.org/packages/4a/da/b7032999bc29a3974ac9c7939d56a669335966d8820356a723be978697fb/ptitprince-0.2.5.tar.gz
Requirement already satisfied: seaborn>=0.10 in /usr/local/lib/python3.7/dist-packages (from ptitprince) (0.11.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from ptitprince) (3.2.2)
Requirement already satisfied: numpy>=1.13 in /usr/local/lib/python3.7/dist-packages (from ptitprince) (1.19.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from ptitprince) (1.4.1)
Collecting PyHamcrest>=1.9.0
  Downloading https://files.pythonhosted.org/packages/40/16/e54cc65891f01cb62893540f44ffd3e8dab0a22443e1b438f1a9f5574bee/PyHamcrest-2.0.2-py3-none-any.whl (52kB)
     |████████████████████████████████| 61kB 5.8MB/s
Requirement already satisfied: cython in /usr/local/lib/python3.7/dist-packages (from ptitprince) (0.29.22)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.7/dist-packages (from seaborn>=0.10->ptitprince) (1.1.5)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->ptitprince) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->ptitprince) (2.8.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->ptitprince) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->ptitprince) (1.3.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->seaborn>=0.10->ptitprince) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib->ptitprince) (1.15.0)
Building wheels for collected packages: ptitprince
  Building wheel for ptitprince (setup.py) ... done
  Created wheel for ptitprince: filename=ptitprince-0.2.5-cp37-none-any.whl size=8429 sha256=2c5ddd2d3ca41df12aaac2f4df81a5fa3ec3111f967a9a7e76994fb2a7f05d9f
  Stored in directory: /root/.cache/pip/wheels/fb/c1/75/2ef8da161053bdf8e03f9a360f426accd4fac1ddf7f6ed0029
Successfully built ptitprince
Installing collected packages: PyHamcrest, ptitprince
Successfully installed PyHamcrest-2.0.2 ptitprince-0.2.5

In [2]:
import matplotlib.pylab as plt
import seaborn as sns

In [3]:

from datetime import datetime
#para buscar los mejores hiperarametros
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV
 
#con esto se hace kflod
from sklearn.model_selection import StratifiedKFold

In [4]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [5]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [6]:
 
id='1MfnxlPGSmr-i1up_2iKCkrBIMcDHomnK'
downloaded = drive.CreateFile({'id': id})
downloaded.GetContentFile('data.csv')

In [7]:
id='1kZt5ZN2eAyeNEIWLh6lGckgyDIxpHN4f'
downloaded = drive.CreateFile({'id': id})
downloaded.GetContentFile('test.csv')

In [8]:
test=pd.read_csv('test.csv')

In [9]:
import xgboost as xgb
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn.neural_network import MLPRegressor
from sklearn.datasets import make_regression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import Normalizer
import pandas as pd
import numpy as np
import lightgbm as lgb
%matplotlib inline
import matplotlib.pyplot as plt
from sklearn import tree

In [532]:
def timer(start_time=None):
    if not start_time:
        start_time = datetime.now()
        return start_time
    elif start_time:
        thour, temp_sec = divmod((datetime.now() - start_time).total_seconds(), 3600)
        tmin, tsec = divmod(temp_sec, 60)
        print('\n Time taken: %i hours %i minutes and %s seconds.' % (thour, tmin, round(tsec, 2)))

In [533]:
#y_test = random_search.predict_proba(test)
#results_df = pd.DataFrame(data={'id':test_df['id'], 'target':y_test[:,1]})
#results_df.to_csv('submission-random-grid-search-xgb-porto-01.csv', index=False)

In [534]:
class Modelo():
  def __init__(self ):
    pass



  def splitTrainTarget(self,entrenamientoFeatureTarget):
    #separo  mi dataframe en X= feature engineri e y= target
    target='Stage'
    listColumns=entrenamientoFeatureTarget.columns.to_list()
    listColumns.remove('Stage')
    listColumns.remove('Opportunity_ID')
    listColumns
    X,y=entrenamientoFeatureTarget[listColumns], entrenamientoFeatureTarget[target]
    print("las columnas del train son {} y del target son  {}".format(X.columns , y.name ))
    return X,y

  def SplitTrainTest(self,X,y):
    from sklearn.model_selection import train_test_split

    X_train, X_test, y_train, y_test = \
    train_test_split(X, y, test_size=0.3, random_state=123 )

    return X_train, X_test, y_train, y_test


  def entrenarYPredecirMismoSetEntrenamiento(self,X_train,y_train,X_test): 
    self.modelo.fit(X_train, y_train)
    preds =  self.modelo.predict(X_test)
    return preds

  def errorSetEntrenamiento( self,X_train,y_train,X_test,y_test):
     preds= self.entrenarYPredecirMismoSetEntrenamiento( X_train,y_train,X_test)
     rmse = np.sqrt(mean_squared_error(y_test, preds))
     print("RMSE: %f" % (rmse)) 



  def entrenarYPredecirWithTest(self,X_train,y_train,dfFeaturestest):
    
    
    dfFeaturestest=dfFeaturestest[X_train.columns.to_list()]
    self.modelo.fit(X_train, y_train)
    preds =  self.modelo.predict(dfFeaturestest)
    return preds  

  

  def agregarTargetDfOriginal(self,entrenamiento,df):
    #df es un dataframe ya agregado con features nuevos
    #entrenamiento es el dataframe orginal sin procesar
    target=entrenamiento[(entrenamiento['Stage']=='Closed Lost') | (entrenamiento['Stage']=='Closed Won')]
    target=target[['Opportunity_ID','Stage']].groupby(['Opportunity_ID','Stage']).agg(total=('Stage','count')).reset_index()[['Opportunity_ID','Stage']]
      
    entrenamiento=pd.merge(df,target,on="Opportunity_ID",how="inner") 
    df=entrenamiento.replace("Closed Lost", "0")
    df=df.replace("Closed Won", "1")
  
    return df

  #feature engnerie
  def featureEngeenier(self,df):
    "obsevar que df es el test original"
    #agregamos fecha 
    df['Month']=pd.to_datetime(df['Month'])
    df['anio']=df['Month'].dt.year
    df['mes']=df['Month'].dt.month
    #agregamos columna totalamount
    totalAmount=df.groupby(['Opportunity_ID' ]).agg(totalamount=('Total_Amount','sum'))
    #agregamos total trf
    totalTrf=df.groupby(['Opportunity_ID' ]).agg(totalTrf=('TRF','sum'))
    #cantidad total de trf
    cantTrf=df.groupby(['Opportunity_ID' ]).agg(cantTrf=('TRF','count'))
    #agregamos mean trf
    meanTrf=df.groupby(['Opportunity_ID' ]).agg(meanTrf=('TRF','mean'))
    #agreamos el cantproductfamilia
    cantProducFamilias=df[['Opportunity_ID','Product_Family']].groupby(['Opportunity_ID']).agg(cantProducFamilias=('Product_Family','count')) 
    #agregamos max trf
    maxTrf=df.groupby(['Opportunity_ID' ]).agg(maxTrf=('TRF','max'))
    #agreamos promedio entre distancia entre planned estar and planned end
    df['Planned_Delivery_Start_Date'] =pd.to_datetime(df['Planned_Delivery_Start_Date'])
    df['Planned_Delivery_End_Date'] =pd.to_datetime(df['Planned_Delivery_End_Date'])
    df['disPlannedStarAndPlannedEnd']=df[ 'Planned_Delivery_End_Date' ]-  df[ 'Planned_Delivery_Start_Date' ]
    df['disPlannedStarAndPlannedEnd']=df['disPlannedStarAndPlannedEnd'].dt.total_seconds().fillna(0)

    meanDisPlannedStarAndPlannedEnd=df.groupby('Opportunity_ID').agg(meanDisPlannedStarAndPlannedEnd=('disPlannedStarAndPlannedEnd','mean'))

    #cantidad de familiads de producto por dia de la semana que tiene cada idoprutnity
    df['Day'] = pd.DatetimeIndex(df['Month']).day_name() # week day name
    counta=df.groupby(['Opportunity_ID','Day','Product_Family']).agg(cantidadProductFamilyByDayOfWeek=('Product_Family','count'))
    cantidadProductFamilyByDay=counta.groupby(['Opportunity_ID','Day']).agg(cantidadProductFamilyBy=('cantidadProductFamilyByDayOfWeek','sum')).unstack().fillna(0)
    level0=cantidadProductFamilyByDay.columns.get_level_values(0)
    level1=cantidadProductFamilyByDay.columns.get_level_values(1)
    cantidadProductFamilyByDay.columns = level0 + '' +  level1

    dfFeatureNew=pd.merge(totalAmount,totalTrf,on="Opportunity_ID",how="inner") 
    dfFeatureNew1=pd.merge(dfFeatureNew,meanTrf,on="Opportunity_ID",how="inner") 
    dfFeatureNew2=pd.merge(dfFeatureNew1,cantTrf,on="Opportunity_ID",how="inner") 
    dfFeatureNew2=pd.merge(dfFeatureNew2,maxTrf,on="Opportunity_ID",how="inner") 
    dfFeatureNew3=pd.merge(dfFeatureNew2,cantProducFamilias,on="Opportunity_ID",how="inner") 
    dfFeatureNew3=pd.merge(dfFeatureNew3,meanDisPlannedStarAndPlannedEnd,on="Opportunity_ID",how="inner")
    dfFeatureNew3=pd.merge(dfFeatureNew3,cantidadProductFamilyByDay,on="Opportunity_ID",how="inner").reset_index()
    
    df=dfFeatureNew3[['Opportunity_ID','totalamount','totalTrf','meanTrf','cantTrf','cantProducFamilias','maxTrf','meanDisPlannedStarAndPlannedEnd' ]]


    #agregamos productos

    df['meanTrfporTotalTrf']=df['meanTrf']*df['totalTrf']
    df['cantProducFamiliasporTotalTrf']=df['cantProducFamilias']*df['totalTrf']
    
    return df


  def formarDfKaggle(self ,preds ):
    test=pd.read_csv('test.csv')
    testAux2=test.groupby(['Opportunity_ID','Territory' ]).agg(cant=('Opportunity_ID','count')).reset_index()[['Opportunity_ID' ]]
 
    dfkaggle = pd.DataFrame( preds)
    dfkaggle['Opportunity_ID']=testAux2['Opportunity_ID']
    dfkaggle.columns=['Target','Opportunity_ID']
    dfkaggle=dfkaggle[['Opportunity_ID','Target']]
    
    from google.colab import files
    dfkaggle.to_csv('dfKaggle.csv', index=False) 
    files.download('dfKaggle.csv')
    return dfkaggle

  def featureImportancia(self,X_train):
    # Gini importance
    self.modelo.feature_importances_
    # get importance
    # summarize feature importance
     
    for i,v in enumerate(self.modelo.feature_importances_):
      print('Feature: %0d, Score: %.5f' % (i,v))
      print(X_train.columns.to_list()[i])
    plt.bar(X_train.columns , self.modelo.feature_importances_)
    plt.xlabel('Features')
    plt.ylabel('Importancia')
    plt.title('Importancia Features con RF')
    plt.show()

In [535]:
class RandomForestRegre(Modelo):
  def __init__(self,hiperparametros):
    super().__init__()
    self.modelo= RandomForestRegressor(random_state=1,n_estimators=2000,max_depth = 9)
    self.nombre='RAMDOM'


class xgbosst(Modelo):
  def __init__(self,hiperparametros):
    super().__init__()
    self.modelo= xgb.XGBRegressor(objective ='reg:squarederror', 
                colsample_bytree = 0.3, learning_rate = 0.05,
                max_depth = 2, alpha = 10, n_estimators = 300)
    self.nombre='XGBOOST'


  # este polimorfismo es porque pedia el xgboost que y_train sea de tipo int
  def entrenarYPredecirMismoSetEntrenamiento(self,X_train,y_train,X_test): 
    self.modelo.fit(X_train, y_train.astype(int))
    preds =  self.modelo.predict(X_test)
     
    return preds

  def errorSetEntrenamiento( self,X_train,y_train,X_test,y_test):
    #aca la diferencia es que ytrain debe ser entero
     
    preds= self.entrenarYPredecirMismoSetEntrenamiento( X_train,y_train,X_test)
    rmse = np.sqrt(mean_squared_error(y_test, preds))
    print("RMSE: %f" % (rmse))

  def entrenarYPredecirWithTest(self,X_train,y_train,dfFeaturestest):
     
    dfFeaturestest=dfFeaturestest[X_train.columns.to_list()]
    self.modelo.fit(X_train, y_train.astype(int))
    preds =  self.modelo.predict(dfFeaturestest)
    return preds  

   


class xgbosstOptimizado(Modelo):
  def __init__(self,hiperparametros):
    super().__init__()
    self.modelo= xgb.XGBRegressor(objective ='reg:squarederror', 
                 learning_rate = 0.05,
                  n_estimators = 500)
    self.nombre='XGBOOSTopti'
    self.columnas_X_train=0

   

  def entrenarYPredecirWithTest(self,dfFeaturestest,modelo):
     
    dfFeaturestest=dfFeaturestest[self.columnas_X_train]
    
    preds =  modelo.predict(dfFeaturestest)
    return preds 

  def buscaMejorHiperparametroAndTrainModeloWithKfold(self,X,Y):
    #esto devuelve un modelo ya entrenado.
    #X es el train
    #Y es la validacion
    self.columnas_X_train = X.columns.to_list()
     
    # A parameter grid for XGBoost
    params = {
            'min_child_weight': [1, 5, 10],
            'gamma': [0.5, 1, 1.5, 2, 5],
            'subsample': [0.6, 0.8, 1.0],
            'colsample_bytree': [0.6, 0.8, 1.0],
            'max_depth': [3, 4, 5]
            }


    #https://scikit-learn.org/stable/modules/model_evaluation.html#scoring-parameter
    folds = 3
    param_comb = 5
    #seteo cuantos folds va a tener el set entrendamiento (x_train y su x_validadcion, sus slpit al azar seteado por random_state)
    skf = StratifiedKFold(n_splits=folds, shuffle = True, random_state = 1001)


    #aca las combinaciones de los hiperametros. para buscar el mejor
    #seteo el skf
    random_search = RandomizedSearchCV(self.modelo, param_distributions=params, n_iter=param_comb, scoring='neg_root_mean_squared_error', n_jobs=4, cv=skf.split(X,Y), verbose=3, random_state=1001 )

    # Here we go
    start_time = timer(None) # timing starts from this point for "start_time" variable
    #entreno y busco los mejores hiperparametros
    random_search.fit(X, Y)
    timer(start_time) # timing ends here for "start_time" variable



    print('\n All results:')
    print(random_search.cv_results_)
    print('\n Best estimator:')
    print(random_search.best_estimator_)
    print('\n Best   %d-fold search with %d parameter combinations:' % (folds, param_comb))
    print(random_search.best_score_  )
    print('\n Best hyperparameters:')
    print(random_search.best_params_)
    results = pd.DataFrame(random_search.cv_results_)
    results.to_csv('xgb-random-grid-search-results-01.csv', index=False) 

    #ahora el modelo que se va usar para predecir es el random_search , ya q tiene los mejores hiperparametros
    random_search

    return  random_search

    

class RandomForestRegreOptimizado(Modelo):
  def __init__(self,hiperparametros):
    super().__init__()
    self.modelo= RandomForestRegressor(random_state=101 )
    self.nombre='RAMDOMOptimizado'
    self.columnas_X_train=0

    


  def entrenarYPredecirWithTest(self,dfFeaturestest,modelo):
     
    dfFeaturestest=dfFeaturestest[self.columnas_X_train]
    
    preds =  modelo.predict(dfFeaturestest)
    return preds 

  def buscaMejorHiperparametroAndTrainModeloWithKfold(self,X,Y):
      #esto devuelve un modelo ya entrenado.
      #X es el train
      #Y es la validacion
      
      self.columnas_X_train = X.columns.to_list()
      # A parameter grid for XGBoost
      params = {
              'min_samples_leaf': [1, 2],
              'min_samples_split': [2, 3, 4,5],
              
              'n_estimators': [ 500],
              'max_depth': [3, 4, 5,8]
              }


      #https://scikit-learn.org/stable/modules/model_evaluation.html#scoring-parameter
      folds = 3
      param_comb = 4
      #seteo cuantos folds va a tener el set entrendamiento (x_train y su x_validadcion, sus slpit al azar seteado por random_state)
      skf = StratifiedKFold(n_splits=folds, shuffle = True, random_state = 1001)


      #aca las combinaciones de los hiperametros. para buscar el mejor
      #seteo el skf
      random_search = RandomizedSearchCV(self.modelo, param_distributions=params, n_iter=param_comb, scoring='neg_root_mean_squared_error', n_jobs=4, cv=skf.split(X,Y), verbose=3, random_state=1001 )

      # Here we go
      start_time = timer(None) # timing starts from this point for "start_time" variable
      #entreno y busco los mejores hiperparametros
      random_search.fit(X, Y)
      timer(start_time) # timing ends here for "start_time" variable



      print('\n All results:')
      print(random_search.cv_results_)
      print('\n Best estimator:')
      print(random_search.best_estimator_)
      print('\n Best   %d-fold search with %d parameter combinations:' % (folds, param_comb))
      print(random_search.best_score_  )
      print('\n Best hyperparameters:')
      print(random_search.best_params_)
      results = pd.DataFrame(random_search.cv_results_)
      results.to_csv('xgb-random-grid-search-results-01.csv', index=False) 

      #ahora el modelo que se va usar para predecir es el random_search , ya q tiene los mejores hiperparametros
        

      return  random_search


class NeuralNetwork(Modelo):
  def __init__(self,hiperparametros):
    super().__init__()
    self.modelo= MLPRegressor(hidden_layer_sizes=(50,50,50),learning_rate_init=0.1, activation='relu',random_state=1, max_iter=500)
    self.nombre='Red Neuronal'

  # este polimorfismo es porque pedia el xgboost que y_train sea de tipo int
  def entrenarYPredecirMismoSetEntrenamiento(self,X_train,y_train,X_test):
    X_train_normalizado = self.normalizar(X_train)
    X_test_normalizado = self.normalizar(X_test)
    self.modelo.fit(X_train_normalizado, y_train)
    preds = self.modelo.predict(X_test_normalizado)
    self.modelo = self.modelo

    return preds

  def errorSetEntrenamiento( self,X_train,y_train,X_test,y_test):
    #aca la diferencia es que ytrain debe ser entero
     
    preds= self.entrenarYPredecirMismoSetEntrenamiento( X_train,y_train,X_test)
    rmse = np.sqrt(mean_squared_error(y_test, preds))
    print("RMSE: %f" % (rmse))

  def entrenarYPredecirWithTest(self,X_train,dfFeaturestest):
    X_train_normalizado = self.normalizar(X_train)
    dfFeaturestest=dfFeaturestest[X_train_normalizado.columns.to_list()]
    # self.modelo.fit(X_train, y_train.astype(int))
    preds =  self.modelo.predict(dfFeaturestest)
    return preds

  def normalizar(self, df):
    transformer = Normalizer().fit(df) # fit does nothing.
    Normalizer()
    matrix = transformer.transform(df)
    df_normalizado = pd.DataFrame(matrix)
    df_normalizado.columns = df.columns.to_list()
    return df_normalizado
    
  def featureImportancia(self,X_train):
    print("Hola")

  

class NeuralNetworkOptimizado(Modelo):
  def __init__(self,hiperparametros):
    super().__init__()
    self.modelo= MLPRegressor(random_state=1, max_iter=500)
    self.nombre='Red Neuronal Optimizada'
    self.columnas_X_train = 0

  # este polimorfismo es porque pedia el xgboost que y_train sea de tipo int
  def entrenarYPredecirMismoSetEntrenamiento(self,X_train,y_train,X_test):
    X_train_normalizado = self.normalizar(X_train)
    X_test_normalizado = self.normalizar(X_test)
    self.modelo.fit(X_train_normalizado, y_train)
    preds = self.modelo.predict(X_test_normalizado)
    self.modelo = self.modelo

    return preds

  def errorSetEntrenamiento( self,X_train,y_train,X_test,y_test):
    #aca la diferencia es que ytrain debe ser entero
     
    preds= self.entrenarYPredecirMismoSetEntrenamiento( X_train,y_train,X_test)
    rmse = np.sqrt(mean_squared_error(y_test, preds))
    print("RMSE: %f" % (rmse))

  def entrenarYPredecirWithTest(self,dfFeaturestest, modelo):
    dfFeaturestest=dfFeaturestest[self.columnas_X_train]
    # self.modelo.fit(X_train, y_train.astype(int))
    preds =  modelo.predict(dfFeaturestest)
    return preds

  def buscaMejorHiperparametroAndTrainModeloWithKfold(self,X,Y):
    #esto devuelve un modelo ya entrenado.
    #X es el train
    #Y es la validacion
    
    self.columnas_X_train = X.columns.to_list()

    # A parameter grid for NeuralNet
    params = {'hidden_layer_sizes': [(50,50,50), (50,100,50), (100,1)],
                'activation': ['relu'],
                'alpha': [0.0001, 0.05],
                'learning_rate_init': [0.1, 0.5],
                'solver': ['adam']}


    #https://scikit-learn.org/stable/modules/model_evaluation.html#scoring-parameter
    folds = 3
    param_comb = 5
    #seteo cuantos folds va a tener el set entrendamiento (x_train y su x_validadcion, sus slpit al azar seteado por random_state)
    skf = StratifiedKFold(n_splits=folds, shuffle = True, random_state = 1001)


    #aca las combinaciones de los hiperametros. para buscar el mejor
    #seteo el skf
    random_search = RandomizedSearchCV(self.modelo, param_distributions=params, n_iter=param_comb, scoring='neg_root_mean_squared_error', n_jobs=4, cv=skf.split(X,Y), verbose=3, random_state=1001 )

    # Here we go
    start_time = timer(None) # timing starts from this point for "start_time" variable
    #entreno y busco los mejores hiperparametros
    random_search.fit(X, Y)
    timer(start_time) # timing ends here for "start_time" variable



    print('\n All results:')
    print(random_search.cv_results_)
    print('\n Best estimator:')
    print(random_search.best_estimator_)
    print('\n Best   %d-fold search with %d parameter combinations:' % (folds, param_comb))
    print(random_search.best_score_  )
    print('\n Best hyperparameters:')
    print(random_search.best_params_)
    results = pd.DataFrame(random_search.cv_results_)
    results.to_csv('xgb-random-grid-search-results-01.csv', index=False) 

    #ahora el modelo que se va usar para predecir es el random_search , ya q tiene los mejores hiperparametros
    #self.modelo= random_search

    return  random_search


  def normalizar(self, df):
    transformer = Normalizer().fit(df) # fit does nothing.
    Normalizer()
    matrix = transformer.transform(df)
    df_normalizado = pd.DataFrame(matrix)
    df_normalizado.columns = df.columns.to_list()
    return df_normalizado
    
  def featureImportancia(self,X_train):
    print("Hola")


class lgbRegreOptimizado(Modelo):

  def __init__(self,hiperparametros):
    super().__init__()
    self.modelo= lgb.LGBMRegressor(random_state=1 )
    self.nombre='lgbOptimizado'
    self.columnas_X_train=0


  def entrenarYPredecirWithTest(self,dfFeaturestest,modelo):
     
    dfFeaturestest=dfFeaturestest[self.columnas_X_train]
    
    preds =  modelo.predict(dfFeaturestest)
    return preds  

  def buscaMejorHiperparametroAndTrainModeloWithKfold(self,X,Y):
    #esto devuelve un modelo ya entrenado.
    #X es el train
    #Y es la validacion
    
    self.columnas_X_train = X.columns.to_list()
     
    # A parameter grid for XGBoost
    params = {
            'min_child_weight': [1, 5, 10],
            'gamma': [0.5, 1, 1.5, 2, 5],
            'subsample': [0.6, 0.8, 1.0],
            'colsample_bytree': [0.6, 0.8, 1.0],
            'max_depth': [3, 4, 5]
            }


    #https://scikit-learn.org/stable/modules/model_evaluation.html#scoring-parameter
    folds = 3
    param_comb = 5
    #seteo cuantos folds va a tener el set entrendamiento (x_train y su x_validadcion, sus slpit al azar seteado por random_state)
    skf = StratifiedKFold(n_splits=folds, shuffle = True, random_state = 1001)


    #aca las combinaciones de los hiperametros. para buscar el mejor
    #seteo el skf
    random_search = RandomizedSearchCV(self.modelo, param_distributions=params, n_iter=param_comb, scoring='neg_root_mean_squared_error', n_jobs=4, cv=skf.split(X,Y), verbose=3, random_state=1001 )

    # Here we go
    start_time = timer(None) # timing starts from this point for "start_time" variable
    #entreno y busco los mejores hiperparametros
    random_search.fit(X, Y)
    timer(start_time) # timing ends here for "start_time" variable



    print('\n All results:')
    print(random_search.cv_results_)
    print('\n Best estimator:')
    print(random_search.best_estimator_)
    print('\n Best   %d-fold search with %d parameter combinations:' % (folds, param_comb))
    print(random_search.best_score_  )
    print('\n Best hyperparameters:')
    print(random_search.best_params_)
    results = pd.DataFrame(random_search.cv_results_)
    results.to_csv('xgb-random-grid-search-results-01.csv', index=False) 

    #ahora el modelo que se va usar para predecir es el random_search , ya q tiene los mejores hiperparametros

    return  random_search

In [536]:
 #para hacer el ensamble de modelos
 dicAcumulaDfKaggle={}
 #para guardar los dataframe train y test en la primer pasada
 dicAcumTrainAndTest={}

# XGBOOST - Joaquin

In [537]:
#1)Apertura
entrenamiento = pd.read_csv('data.csv')
df=entrenamiento

In [538]:
entrenamiento.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16947 entries, 0 to 16946
Data columns (total 52 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   ID                                  16947 non-null  int64
 1   Region                              16947 non-null  object
 2   Territory                           16947 non-null  object
 3   Pricing, Delivery_Terms_Quote_Appr  16947 non-null  int64
 4   Pricing, Delivery_Terms_Approved    16947 non-null  int64
 5   Bureaucratic_Code_0_Approval        16947 non-null  int64
 6   Bureaucratic_Code_0_Approved        16947 non-null  int64
 7   Submitted_for_Approval              16947 non-null  int64
 8   Bureaucratic_Code                   16947 non-null  object
 9   Account_Created_Date                16947 non-null  object
 10  Source                              16947 non-null  object
 11  Billing_Country                     16947 non-null  object
 12  Account_Name                        16947 non-null  object
 13  Opportunity_Name                    16947 non-null  object
 14  Opportunity_ID                      16947 non-null  int64
 15  Sales_Contract_No                   16947 non-null  object
 16  Account_Owner                       16947 non-null  object
 17  Opportunity_Owner                   16947 non-null  object
 18  Account_Type                        16947 non-null  object
 19  Opportunity_Type                    16947 non-null  object
 20  Quote_Type                          16947 non-null  object
 21  Delivery_Terms                      16947 non-null  object
 22  Opportunity_Created_Date            16947 non-null  object
 23  Brand                               16947 non-null  object
 24  Product_Type                        16947 non-null  object
 25  Size                                16947 non-null  object
 26  Product_Category_B                  16947 non-null  object
 27  Price                               16947 non-null  object
 28  Currency                            16947 non-null  object
 29  Last_Activity                       16947 non-null  object
 30  Quote_Expiry_Date                   16947 non-null  object
 31  Last_Modified_Date                  16947 non-null  object
 32  Last_Modified_By                    16947 non-null  object
 33  Product_Family                      16947 non-null  object
 34  Product_Name                        16947 non-null  object
 35  ASP_Currency                        16947 non-null  object
 36  ASP                                 13738 non-null  float64
 37  ASP_(converted)_Currency            16947 non-null  object
 38  ASP_(converted)                     13738 non-null  float64
 39  Planned_Delivery_Start_Date         16947 non-null  object
 40  Planned_Delivery_End_Date           16947 non-null  object
 41  Month                               16947 non-null  object
 42  Delivery_Quarter                    16947 non-null  object
 43  Delivery_Year                       16947 non-null  int64
 44  Actual_Delivery_Date                16947 non-null  object
 45  TRF                                 16947 non-null  int64
 46  Total_Amount_Currency               16947 non-null  object
 47  Total_Amount                        16888 non-null  float64
 48  Total_Taxable_Amount_Currency       16947 non-null  object
 49  Total_Taxable_Amount                16947 non-null  float64
 50  Stage                               16947 non-null  object
 51  Prod_Category_A                     16947 non-null  object
dtypes: float64(4), int64(9), object(39)
memory usage: 6.7+ MB

In [539]:
random_state=1
n_estimators=50
#aca agregamos los hiperparametros que estamos probando
Hiperparametros=[random_state ,n_estimators ]
#por ahora no se usan los hirparametros, se setea dentro de las clase estos,
#pero la idea es que se pueda setear desde afuera para probar

In [540]:
modelosDic={
         'ramdomForest': RandomForestRegre(Hiperparametros),
         'xgboost':xgbosst(Hiperparametros),
         'xgboostOptimo':xgbosstOptimizado(Hiperparametros),
         'RandomForestRegreOptimo':RandomForestRegreOptimizado(Hiperparametros),
         'neuralNetwork':NeuralNetwork(Hiperparametros),
         'neuralNetworkOptimizado':NeuralNetworkOptimizado(Hiperparametros),
         'lgbRegresionOptimizado':lgbRegreOptimizado(Hiperparametros)
}

In [541]:


modelo=modelosDic.get('neuralNetwork')

#cargamos el modelo 
modelo=modelo
print(modelo.nombre)
#hacemos feature engierine sobre el df original
dfFeature=modelo.featureEngeenier(entrenamiento)
dfFeature.head()
#le agregamos el target
dfFeatureWithTarget=modelo.agregarTargetDfOriginal(entrenamiento,dfFeature)
dfFeatureWithTarget.head()

Red Neuronal

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:108: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   Opportunity_ID  totalamount  ...  cantProducFamiliasporTotalTrf  Stage
0               0    5272800.0  ...                             10      0
1               1      48230.0  ...                              0      1
2               2      83865.6  ...                              0      1
3               3    7421881.5  ...                             14      0
4               4   13357192.5  ...                             25      0

[5 rows x 11 columns]

#TERRITORY

In [542]:
df = pd.read_csv('data.csv')
df['Territory'].value_counts()

None               4999
Germany            1682
NW America         1568
Australia          1208
India               809
                   ...
Czech Republic        1
Croatia               1
Egypt                 1
Burma                 1
Solomon Islands       1
Name: Territory, Length: 76, dtype: int64

In [543]:
def agregarMeanEncoding(dfWithFeatureTarget,columnCategorica):
  """dfWithFeature es un df de formato ['Opportunity_ID', y columnas nuevas agregadas anteriormente,target]
  se hace minencoding columancategoria, retorna un df con opportunity_id, meanencoding,columnas nuevas agregadas anteriormente
      """
  df = pd.read_csv('data.csv')
  entrenamiento = pd.read_csv('data.csv')
  df = df.replace('Closed Won', '1')
  df = df.replace('Closed Lost', '0')
  df = df[df['Stage'].isin(['0','1'])]
  df.Stage = df.Stage.astype(int)
  df = df.groupby([columnCategorica,'Opportunity_ID']).agg({'Stage':['sum','count']})
  df = df.reset_index()
  df1 = df
  df1.columns = [columnCategorica,'Opportunity_ID','Stage_sum','Stage_count']
  df1['Stage_sum'] = df1['Stage_sum'].apply(lambda x: 0 if x == 0 else 1)
  df2 = df1.groupby([columnCategorica]).agg(meanEncodingTerritory = ('Stage_sum','mean'))
  df2 = df2.reset_index()
  agruparOportunity=entrenamiento.groupby(['Opportunity_ID',columnCategorica]).agg(cant=(columnCategorica,'count')).reset_index()
  result=pd.merge(agruparOportunity,df2,on=columnCategorica,how='inner')
  #eliminamos columnas que no sirve, columncategorica porque la reemplazamos por el mean enconding, y cant que 
  #la usamos para unificar por oportunity_id 
  del result['cant']
  del result['Territory']
  result2=pd.merge(dfWithFeatureTarget, result, on='Opportunity_ID' , how='inner')
  
  dfWithFeatureTarget=result2
  dfWithFeatureTarget.Stage = dfWithFeatureTarget.Stage.astype(int)
  return dfWithFeatureTarget

In [544]:
dfNew1=agregarMeanEncoding(dfFeatureWithTarget,'Territory')
dfNew1.head()

   Opportunity_ID  totalamount  ...  Stage  meanEncodingTerritory
0               0    5272800.0  ...      0               0.535927
1               1      48230.0  ...      1               0.535927
2               2      83865.6  ...      1               0.632723
3               3    7421881.5  ...      0               0.632723
4               4   13357192.5  ...      0               0.632723

[5 rows x 12 columns]

#REGION

In [545]:
df = pd.read_csv('data.csv')
df['Region'].value_counts()

Japan          4892
EMEA           4664
Americas       3945
APAC           3262
Middle East     184
Name: Region, dtype: int64

In [546]:
def agregarMeanEncoding(dfWithFeatureTarget,columnCategorica):
  """dfWithFeature es un df de formato ['Opportunity_ID', y columnas nuevas agregadas anteriormente,target]
  se hace minencoding columancategoria, retorna un df con opportunity_id, meanencoding,columnas nuevas agregadas anteriormente
      """
  df = pd.read_csv('data.csv')
  entrenamiento = pd.read_csv('data.csv')
  df = df.replace('Closed Won', '1')
  df = df.replace('Closed Lost', '0')
  df = df[df['Stage'].isin(['0','1'])]
  df.Stage = df.Stage.astype(int)
  df = df.groupby([columnCategorica,'Opportunity_ID']).agg({'Stage':['sum','count']})
  df = df.reset_index()
  df1 = df
  df1.columns = [columnCategorica,'Opportunity_ID','Stage_sum','Stage_count']
  df1['Stage_sum'] = df1['Stage_sum'].apply(lambda x: 0 if x == 0 else 1)
  df2 = df1.groupby([columnCategorica]).agg(meanEncodingRegion = ('Stage_sum','mean'))
  df2 = df2.reset_index()
  agruparOportunity=entrenamiento.groupby(['Opportunity_ID',columnCategorica]).agg(cant=(columnCategorica,'count')).reset_index()
  result=pd.merge(agruparOportunity,df2,on=columnCategorica,how='inner')
  #eliminamos columnas que no sirve, columncategorica porque la reemplazamos por el mean enconding, y cant que 
  #la usamos para unificar por oportunity_id 
  del result['cant']
  del result['Region']
  result2=pd.merge(dfWithFeatureTarget, result, on='Opportunity_ID' , how='inner')
  
  dfWithFeatureTarget=result2
  dfWithFeatureTarget.Stage = dfWithFeatureTarget.Stage.astype(int)
  return dfWithFeatureTarget

In [547]:
dfNew2=agregarMeanEncoding(dfFeatureWithTarget,'Region')
dfNew2=dfNew2[['Opportunity_ID','meanEncodingRegion']]
dfNew2.head()

   Opportunity_ID  meanEncodingRegion
0               0            0.463392
1               1            0.463392
2               2            0.446166
3               3            0.446166
4               4            0.446166

In [548]:
dfNew=pd.merge(dfNew1, dfNew2, on='Opportunity_ID' , how='inner')
dfNew.head()

   Opportunity_ID  totalamount  ...  meanEncodingTerritory  meanEncodingRegion
0               0    5272800.0  ...               0.535927            0.463392
1               1      48230.0  ...               0.535927            0.463392
2               2      83865.6  ...               0.632723            0.446166
3               3    7421881.5  ...               0.632723            0.446166
4               4   13357192.5  ...               0.632723            0.446166

[5 rows x 13 columns]

#Delivery_Terms

In [549]:
df = pd.read_csv('data.csv')
df['Delivery_Terms'].value_counts()

Delivery_Terms_4    7712
Delivery_Terms_2    4633
Delivery_Terms_1    2936
Delivery_Terms_6     781
Delivery_Terms_5     636
Delivery_Terms_8     164
Delivery_Terms_3      41
Delivery_Terms_7      38
Delivery_Terms_0       6
Name: Delivery_Terms, dtype: int64

In [550]:
def agregarMeanEncoding(dfWithFeatureTarget,columnCategorica):
  """dfWithFeature es un df de formato ['Opportunity_ID', y columnas nuevas agregadas anteriormente,target]
  se hace minencoding columancategoria, retorna un df con opportunity_id, meanencoding,columnas nuevas agregadas anteriormente
      """
  df = pd.read_csv('data.csv')
  entrenamiento = pd.read_csv('data.csv')
  df = df.replace('Closed Won', '1')
  df = df.replace('Closed Lost', '0')
  df = df[df['Stage'].isin(['0','1'])]
  df.Stage = df.Stage.astype(int)
  df = df.groupby([columnCategorica,'Opportunity_ID']).agg({'Stage':['sum','count']})
  df = df.reset_index()
  df1 = df
  df1.columns = [columnCategorica,'Opportunity_ID','Stage_sum','Stage_count']
  df1['Stage_sum'] = df1['Stage_sum'].apply(lambda x: 0 if x == 0 else 1)
  df2 = df1.groupby([columnCategorica]).agg(meanEncodingDelivery_Terms = ('Stage_sum','mean'))
  df2 = df2.reset_index()
  agruparOportunity=entrenamiento.groupby(['Opportunity_ID',columnCategorica]).agg(cant=(columnCategorica,'count')).reset_index()
  result=pd.merge(agruparOportunity,df2,on=columnCategorica,how='inner')
  #eliminamos columnas que no sirve, columncategorica porque la reemplazamos por el mean enconding, y cant que 
  #la usamos para unificar por oportunity_id 
  del result['cant']
  del result['Delivery_Terms']
  result2=pd.merge(dfWithFeatureTarget, result, on='Opportunity_ID' , how='inner')
  
  dfWithFeatureTarget=result2
  dfWithFeatureTarget.Stage = dfWithFeatureTarget.Stage.astype(int)
  return dfWithFeatureTarget

In [551]:
dfNew2=agregarMeanEncoding(dfFeatureWithTarget,'Delivery_Terms')
dfNew2=dfNew2[['Opportunity_ID','meanEncodingDelivery_Terms']]
dfNew2.head()

   Opportunity_ID  meanEncodingDelivery_Terms
0               0                    0.479801
1               1                    0.479801
2               2                    0.547011
3               3                    0.449874
4               4                    0.449874

In [552]:
dfNew=pd.merge(dfNew, dfNew2, on='Opportunity_ID' , how='inner')
dfNew.head()

   Opportunity_ID  totalamount  ...  meanEncodingRegion  meanEncodingDelivery_Terms
0               0    5272800.0  ...            0.463392                    0.479801
1               1      48230.0  ...            0.463392                    0.479801
2               2      83865.6  ...            0.446166                    0.547011
3               3    7421881.5  ...            0.446166                    0.449874
4               4   13357192.5  ...            0.446166                    0.449874

[5 rows x 14 columns]

#Account_Owner

In [553]:
#df = pd.read_csv('data.csv')
#df['Account_Owner'].value_counts()

In [554]:
def agregarMeanEncoding(dfWithFeatureTarget,columnCategorica):
  """dfWithFeature es un df de formato ['Opportunity_ID', y columnas nuevas agregadas anteriormente,target]
  se hace minencoding columancategoria, retorna un df con opportunity_id, meanencoding,columnas nuevas agregadas anteriormente
      """
  df = pd.read_csv('data.csv')
  entrenamiento = pd.read_csv('data.csv')
  df = df.replace('Closed Won', '1')
  df = df.replace('Closed Lost', '0')
  df = df[df['Stage'].isin(['0','1'])]
  df.Stage = df.Stage.astype(int)
  df = df.groupby([columnCategorica,'Opportunity_ID']).agg({'Stage':['sum','count']})
  df = df.reset_index()
  df1 = df
  df1.columns = [columnCategorica,'Opportunity_ID','Stage_sum','Stage_count']
  df1['Stage_sum'] = df1['Stage_sum'].apply(lambda x: 0 if x == 0 else 1)
  df2 = df1.groupby([columnCategorica]).agg(meanEncodingAccount_Owner = ('Stage_sum','mean'))
  df2 = df2.reset_index()
  agruparOportunity=entrenamiento.groupby(['Opportunity_ID',columnCategorica]).agg(cant=(columnCategorica,'count')).reset_index()
  result=pd.merge(agruparOportunity,df2,on=columnCategorica,how='inner')
  #eliminamos columnas que no sirve, columncategorica porque la reemplazamos por el mean enconding, y cant que 
  #la usamos para unificar por oportunity_id 
  del result['cant']
  del result['Account_Owner']
  result2=pd.merge(dfWithFeatureTarget, result, on='Opportunity_ID' , how='inner')
  
  dfWithFeatureTarget=result2
  dfWithFeatureTarget.Stage = dfWithFeatureTarget.Stage.astype(int)
  return dfWithFeatureTarget

In [555]:
#dfNew2=agregarMeanEncoding(dfFeatureWithTarget,'Account_Owner')
#dfNew2=dfNew2[['Opportunity_ID','meanEncodingAccount_Owner']]
#dfNew2.head()

In [556]:
#dfNew=pd.merge(dfNew, dfNew2, on='Opportunity_ID' , how='inner')
#dfNew.head()

In [557]:
#mer2=mer2.astype(int)

In [558]:
#dfNew3=pd.merge(dfNew, mer2, on='Opportunity_ID' , how='inner')
#dfNew3

In [559]:
#dfNew3.info()

In [560]:
entrenamiento = pd.read_csv('data.csv')
df=entrenamiento
df['Month']=pd.to_datetime(df['Month'])
df['anio']=df['Month'].dt.year
df['mes']=df['Month'].dt.month
#mes_cant_stage

In [561]:
df['mes']=df['mes'].astype(str)

In [562]:
mesTrf=df.groupby(['Opportunity_ID','mes' ]).agg(totalTrf=('TRF','sum')).unstack().fillna(0)

In [563]:
level0=mesTrf.columns.get_level_values(0)
level1=mesTrf.columns.get_level_values(1)

In [564]:
mesTrf.columns = level0 + '_' +  level1

In [565]:
mesTrf=mesTrf.reset_index()

In [566]:
dfNew4=pd.merge(dfNew, mesTrf, on='Opportunity_ID' , how='inner')
dfNew4

      Opportunity_ID  totalamount  totalTrf  ...  totalTrf_7  totalTrf_8  totalTrf_9
0                  0   5272800.00        10  ...         0.0         0.0         0.0
1                  1     48230.00         0  ...         0.0         0.0         0.0
2                  2     83865.60         0  ...         0.0         0.0         0.0
3                  3   7421881.50        14  ...         0.0         0.0         0.0
4                  4  13357192.50        25  ...         0.0         0.0         0.0
...              ...          ...       ...  ...         ...         ...         ...
9786           12799    401700.00         1  ...         0.0         0.0         0.0
9787           12800  21332500.00        40  ...         0.0         0.0         0.0
9788           12801    299715.00         0  ...         0.0         0.0         0.0
9789           12802   2346796.88         4  ...         0.0         0.0         0.0
9790           12803  25603200.00        40  ...        40.0         0.0         0.0

[9791 rows x 26 columns]

In [567]:
#guardo el df ya con sus features para usarlo 
dicAcumTrainAndTest['entrenamiento']=dfNew4

In [568]:
X,y=modelo.splitTrainTarget(dfNew4)

las columnas del train son Index(['totalamount', 'totalTrf', 'meanTrf', 'cantTrf', 'cantProducFamilias',
       'maxTrf', 'meanDisPlannedStarAndPlannedEnd', 'meanTrfporTotalTrf',
       'cantProducFamiliasporTotalTrf', 'meanEncodingTerritory',
       'meanEncodingRegion', 'meanEncodingDelivery_Terms', 'totalTrf_1',
       'totalTrf_10', 'totalTrf_11', 'totalTrf_12', 'totalTrf_2', 'totalTrf_3',
       'totalTrf_4', 'totalTrf_5', 'totalTrf_6', 'totalTrf_7', 'totalTrf_8',
       'totalTrf_9'],
      dtype='object') y del target son  Stage

In [569]:
 #el optimizado splitea con los kfold, por eso usamos X,y en el buscaMejorHiperparametroModeloKfold
X_train, X_test, y_train, y_test=modelo.SplitTrainTest(X,y)

In [570]:
#entrenamo y predecimos, y comparamos con el valor real y vemos su error
modelo.errorSetEntrenamiento(X_train,y_train,X_test,y_test)

RMSE: 0.478510

In [571]:
X_train

      totalamount  totalTrf  meanTrf  ...  totalTrf_7  totalTrf_8  totalTrf_9
2263   32050000.0         0      0.0  ...         0.0         0.0         0.0
9459      99450.0         0      0.0  ...         0.0         0.0         0.0
7388       2827.5         0      0.0  ...         0.0         0.0         0.0
7033    1485160.0         3      1.5  ...         0.0         3.0         0.0
4740      81225.0         0      0.0  ...         0.0         0.0         0.0
...           ...       ...      ...  ...         ...         ...         ...
9785    1307775.0         3      3.0  ...         0.0         3.0         0.0
7763     103125.0         0      0.0  ...         0.0         0.0         0.0
5218     292410.0         1      1.0  ...         0.0         0.0         0.0
1346     326340.0         0      0.0  ...         0.0         0.0         0.0
3582    3010000.0         0      0.0  ...         0.0         0.0         0.0

[6853 rows x 24 columns]

In [572]:
modelo.featureImportancia( X_train )

Hola

# aca vamos a entrenar y predecir con el test para subir a kaggle

# TERRITORY

In [573]:
test=pd.read_csv('test.csv')

In [574]:
testFeature=modelo.featureEngeenier(test)
testFeature.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:108: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   Opportunity_ID  ...  cantProducFamiliasporTotalTrf
0           10689  ...                              0
1           10690  ...                              5
2           10691  ...                              0
3           10692  ...                             36
4           10693  ...                              0

[5 rows x 10 columns]

In [575]:
#agrego columnas temporales
ttest = pd.read_csv('test.csv')
dft=ttest
dft['Month']=pd.to_datetime(dft['Month'])
dft['anio']=dft['Month'].dt.year
dft['mes']=dft['Month'].dt.month

In [576]:
opMesTest=dft.groupby(['Opportunity_ID','mes']).agg(unificando=('mes','count')).reset_index()[['Opportunity_ID', 	'mes' 	]]
opMesTest

      Opportunity_ID  mes
0              10689    5
1              10690    6
2              10691   10
3              10692   12
4              10693    5
...              ...  ...
1836           12364    5
1837           12365   10
1838           12366   10
1839           12367    8
1840           12368   10

[1841 rows x 2 columns]

In [577]:
#mer=pd.merge(mes_cant_stage,opMesTest,on='mes',how='right')

In [578]:
#mer=mer.astype(str)

In [579]:
#mer2=mer.groupby(['Opportunity_ID','mes']).agg({'cant_Closed_Lost_by_mes':'sum','cant_Closed_Won_by_mes':'sum'}).unstack().fillna(0)

In [580]:
#level0=mer2.columns.get_level_values(0)
#level1=mer2.columns.get_level_values(1)
 
#mer2.columns = level0 + '_' + level1

In [581]:
#mer2=mer2.reset_index()

In [582]:
#mer2=mer2.astype(int)

In [583]:
# fin de agregar columnas temporales

In [584]:
def meanEncodingDejandoColumnaCategorica(columnsCategory):
  """devuelve un dataframe con el formato [columnscategory,meanencodingcategory]
    es porque lo vamos a usar para hacer merge por su columna categorica"""
  df = pd.read_csv('data.csv')
  entrenamiento = pd.read_csv('data.csv')
  df = df.replace('Closed Won', '1')
  df = df.replace('Closed Lost', '0')
  df = df[df['Stage'].isin(['0','1'])]
  df.Stage = df.Stage.astype(int)
  df = df.groupby([columnsCategory,'Opportunity_ID']).agg({'Stage':['sum','count']})
  df = df.reset_index()
  df1 = df
  df1.columns = [columnsCategory,'Opportunity_ID','Stage_sum','Stage_count']
  df1['Stage_sum'] = df1['Stage_sum'].apply(lambda x: 0 if x == 0 else 1)
  df2 = df1.groupby([columnsCategory]).agg(meanEncodingTerritory = ('Stage_sum','mean'))
  df2 = df2.reset_index()
  agruparOportunity=entrenamiento.groupby(['Opportunity_ID',columnsCategory]).agg(cant=(columnsCategory,'count')).reset_index()
  result=pd.merge(agruparOportunity,df2,on=columnsCategory,how='inner')
  result.head()
  del result['cant']
  result2=result[[columnsCategory,'meanEncodingTerritory']].drop_duplicates()
  return  result2

In [585]:
dfMeanEncoding=meanEncodingDejandoColumnaCategorica("Territory")
dfMeanEncoding.head()

       Territory  meanEncodingTerritory
0           None               0.535927
1867  NW America               0.632723
2745       India               0.457227
3425       Italy               0.432692
3633     Germany               0.548148

In [586]:
testAux=test.groupby(['Opportunity_ID','Territory' ]).agg(cant=('Opportunity_ID','count')).reset_index()[['Opportunity_ID','Territory' ]]
testAux.head()

   Opportunity_ID   Territory
0           10689     Germany
1           10690     Germany
2           10691  NE America
3           10692  NW America
4           10693  NW America

In [587]:
territories=pd.merge(testAux,dfMeanEncoding, on="Territory", how='left') 
territories

      Opportunity_ID   Territory  meanEncodingTerritory
0              10689     Germany               0.548148
1              10690     Germany               0.548148
2              10691  NE America               0.347490
3              10692  NW America               0.632723
4              10693  NW America               0.632723
...              ...         ...                    ...
1562           12364         KSA               0.416667
1563           12365  SE America               0.367953
1564           12366  SE America               0.367953
1565           12367  NE America               0.347490
1566           12368     Belgium               0.569832

[1567 rows x 3 columns]

In [588]:
 testFinal=pd.merge(testFeature,territories, on="Opportunity_ID", how='inner') 
 testFinal

      Opportunity_ID  totalamount  ...   Territory  meanEncodingTerritory
0              10689     367419.0  ...     Germany               0.548148
1              10690     757783.5  ...     Germany               0.548148
2              10691      21037.5  ...  NE America               0.347490
3              10692    2169106.5  ...  NW America               0.632723
4              10693       5752.5  ...  NW America               0.632723
...              ...          ...  ...         ...                    ...
1562           12364     147750.0  ...         KSA               0.416667
1563           12365      45054.9  ...  SE America               0.367953
1564           12366     100122.0  ...  SE America               0.367953
1565           12367     143220.0  ...  NE America               0.347490
1566           12368     871020.8  ...     Belgium               0.569832

[1567 rows x 12 columns]

# REGION

In [589]:
def meanEncodingDejandoColumnaCategorica(columnsCategory):
  """devuelve un dataframe con el formato [columnscategory,meanencodingcategory]
    es porque lo vamos a usar para hacer merge por su columna categorica"""
  df = pd.read_csv('data.csv')
  entrenamiento = pd.read_csv('data.csv')
  df = df.replace('Closed Won', '1')
  df = df.replace('Closed Lost', '0')
  df = df[df['Stage'].isin(['0','1'])]
  df.Stage = df.Stage.astype(int)
  df = df.groupby([columnsCategory,'Opportunity_ID']).agg({'Stage':['sum','count']})
  df = df.reset_index()
  df1 = df
  df1.columns = [columnsCategory,'Opportunity_ID','Stage_sum','Stage_count']
  df1['Stage_sum'] = df1['Stage_sum'].apply(lambda x: 0 if x == 0 else 1)
  df2 = df1.groupby([columnsCategory]).agg(meanEncodingRegion = ('Stage_sum','mean'))
  df2 = df2.reset_index()
  agruparOportunity=entrenamiento.groupby(['Opportunity_ID',columnsCategory]).agg(cant=(columnsCategory,'count')).reset_index()
  result=pd.merge(agruparOportunity,df2,on=columnsCategory,how='inner')
  result.head()
  del result['cant']
  result2=result[[columnsCategory,'meanEncodingRegion']].drop_duplicates()
  return  result2

In [590]:
dfMeanEncoding=meanEncodingDejandoColumnaCategorica("Region")
dfMeanEncoding.head()

           Region  meanEncodingRegion
0            EMEA            0.463392
3241     Americas            0.446166
5700        Japan            0.684350
7606         APAC            0.555556
9692  Middle East            0.239130

In [591]:
testAux=test.groupby(['Opportunity_ID','Region' ]).agg(cant=('Opportunity_ID','count')).reset_index()[['Opportunity_ID','Region' ]]
testAux.head()

   Opportunity_ID    Region
0           10689      EMEA
1           10690      EMEA
2           10691  Americas
3           10692  Americas
4           10693  Americas

In [592]:
territories=pd.merge(testAux,dfMeanEncoding, on="Region", how='left') 
territories

      Opportunity_ID    Region  meanEncodingRegion
0              10689      EMEA            0.463392
1              10690      EMEA            0.463392
2              10691  Americas            0.446166
3              10692  Americas            0.446166
4              10693  Americas            0.446166
...              ...       ...                 ...
1562           12364      EMEA            0.463392
1563           12365  Americas            0.446166
1564           12366  Americas            0.446166
1565           12367  Americas            0.446166
1566           12368      EMEA            0.463392

[1567 rows x 3 columns]

In [593]:
 testFinal=pd.merge(testFinal,territories, on="Opportunity_ID", how='inner') 
 testFinal

      Opportunity_ID  totalamount  ...    Region  meanEncodingRegion
0              10689     367419.0  ...      EMEA            0.463392
1              10690     757783.5  ...      EMEA            0.463392
2              10691      21037.5  ...  Americas            0.446166
3              10692    2169106.5  ...  Americas            0.446166
4              10693       5752.5  ...  Americas            0.446166
...              ...          ...  ...       ...                 ...
1562           12364     147750.0  ...      EMEA            0.463392
1563           12365      45054.9  ...  Americas            0.446166
1564           12366     100122.0  ...  Americas            0.446166
1565           12367     143220.0  ...  Americas            0.446166
1566           12368     871020.8  ...      EMEA            0.463392

[1567 rows x 14 columns]

# Delivery_Terms

In [594]:
def meanEncodingDejandoColumnaCategorica(columnsCategory):
  """devuelve un dataframe con el formato [columnscategory,meanencodingcategory]
    es porque lo vamos a usar para hacer merge por su columna categorica"""
  df = pd.read_csv('data.csv')
  entrenamiento = pd.read_csv('data.csv')
  df = df.replace('Closed Won', '1')
  df = df.replace('Closed Lost', '0')
  df = df[df['Stage'].isin(['0','1'])]
  df.Stage = df.Stage.astype(int)
  df = df.groupby([columnsCategory,'Opportunity_ID']).agg({'Stage':['sum','count']})
  df = df.reset_index()
  df1 = df
  df1.columns = [columnsCategory,'Opportunity_ID','Stage_sum','Stage_count']
  df1['Stage_sum'] = df1['Stage_sum'].apply(lambda x: 0 if x == 0 else 1)
  df2 = df1.groupby([columnsCategory]).agg(meanEncodingDelivery_Terms = ('Stage_sum','mean'))
  df2 = df2.reset_index()
  agruparOportunity=entrenamiento.groupby(['Opportunity_ID',columnsCategory]).agg(cant=(columnsCategory,'count')).reset_index()
  result=pd.merge(agruparOportunity,df2,on=columnsCategory,how='inner')
  result.head()
  del result['cant']
  result2=result[[columnsCategory,'meanEncodingDelivery_Terms']].drop_duplicates()
  return  result2

In [595]:
dfMeanEncoding=meanEncodingDejandoColumnaCategorica("Delivery_Terms")
dfMeanEncoding.head()

        Delivery_Terms  meanEncodingDelivery_Terms
0     Delivery_Terms_2                    0.479801
3221  Delivery_Terms_4                    0.547011
6690  Delivery_Terms_1                    0.449874
8694  Delivery_Terms_5                    0.666667
9219  Delivery_Terms_8                    0.570175

In [596]:
testAux=test.groupby(['Opportunity_ID','Delivery_Terms' ]).agg(cant=('Opportunity_ID','count')).reset_index()[['Opportunity_ID','Delivery_Terms' ]]
testAux.head()

   Opportunity_ID    Delivery_Terms
0           10689  Delivery_Terms_2
1           10690  Delivery_Terms_2
2           10691  Delivery_Terms_4
3           10692  Delivery_Terms_4
4           10693  Delivery_Terms_4

In [597]:
territories=pd.merge(testAux,dfMeanEncoding, on="Delivery_Terms", how='left') 
territories

      Opportunity_ID    Delivery_Terms  meanEncodingDelivery_Terms
0              10689  Delivery_Terms_2                    0.479801
1              10690  Delivery_Terms_2                    0.479801
2              10691  Delivery_Terms_4                    0.547011
3              10692  Delivery_Terms_4                    0.547011
4              10693  Delivery_Terms_4                    0.547011
...              ...               ...                         ...
1562           12364  Delivery_Terms_7                    0.527778
1563           12365  Delivery_Terms_4                    0.547011
1564           12366  Delivery_Terms_4                    0.547011
1565           12367  Delivery_Terms_4                    0.547011
1566           12368  Delivery_Terms_2                    0.479801

[1567 rows x 3 columns]

In [598]:
 testFinal=pd.merge(testFinal,territories, on="Opportunity_ID", how='inner') 
 testFinal

      Opportunity_ID  totalamount  ...    Delivery_Terms  meanEncodingDelivery_Terms
0              10689     367419.0  ...  Delivery_Terms_2                    0.479801
1              10690     757783.5  ...  Delivery_Terms_2                    0.479801
2              10691      21037.5  ...  Delivery_Terms_4                    0.547011
3              10692    2169106.5  ...  Delivery_Terms_4                    0.547011
4              10693       5752.5  ...  Delivery_Terms_4                    0.547011
...              ...          ...  ...               ...                         ...
1562           12364     147750.0  ...  Delivery_Terms_7                    0.527778
1563           12365      45054.9  ...  Delivery_Terms_4                    0.547011
1564           12366     100122.0  ...  Delivery_Terms_4                    0.547011
1565           12367     143220.0  ...  Delivery_Terms_4                    0.547011
1566           12368     871020.8  ...  Delivery_Terms_2                    0.479801

[1567 rows x 16 columns]

# Account_Owner

In [599]:
def meanEncodingDejandoColumnaCategorica(columnsCategory):
  """devuelve un dataframe con el formato [columnscategory,meanencodingcategory]
    es porque lo vamos a usar para hacer merge por su columna categorica"""
  df = pd.read_csv('data.csv')
  entrenamiento = pd.read_csv('data.csv')
  df = df.replace('Closed Won', '1')
  df = df.replace('Closed Lost', '0')
  df = df[df['Stage'].isin(['0','1'])]
  df.Stage = df.Stage.astype(int)
  df = df.groupby([columnsCategory,'Opportunity_ID']).agg({'Stage':['sum','count']})
  df = df.reset_index()
  df1 = df
  df1.columns = [columnsCategory,'Opportunity_ID','Stage_sum','Stage_count']
  df1['Stage_sum'] = df1['Stage_sum'].apply(lambda x: 0 if x == 0 else 1)
  df2 = df1.groupby([columnsCategory]).agg(meanEncodingAccount_Owner = ('Stage_sum','mean'))
  df2 = df2.reset_index()
  agruparOportunity=entrenamiento.groupby(['Opportunity_ID',columnsCategory]).agg(cant=(columnsCategory,'count')).reset_index()
  result=pd.merge(agruparOportunity,df2,on=columnsCategory,how='inner')
  result.head()
  del result['cant']
  result2=result[[columnsCategory,'meanEncodingAccount_Owner']].drop_duplicates()
  return  result2

In [600]:
dfMeanEncoding=meanEncodingDejandoColumnaCategorica("Account_Owner")
dfMeanEncoding.head()

       Account_Owner  meanEncodingAccount_Owner
0     Person_Name_51                   0.314607
89    Person_Name_64                   0.689320
505    Person_Name_8                   0.571654
1140  Person_Name_50                   0.633037
2158  Person_Name_60                   0.288462

In [601]:
testAux=test.groupby(['Opportunity_ID','Account_Owner' ]).agg(cant=('Opportunity_ID','count')).reset_index()[['Opportunity_ID','Account_Owner' ]]
testAux.head()

   Opportunity_ID   Account_Owner
0           10689  Person_Name_13
1           10690  Person_Name_13
2           10691   Person_Name_9
3           10692   Person_Name_8
4           10693  Person_Name_64

In [602]:
#territories=pd.merge(testAux,dfMeanEncoding, on="Account_Owner", how='left') 
#territories

In [603]:
 #testFinal=pd.merge(testFinal,territories, on="Opportunity_ID", how='inner') 
 #testFinal

In [604]:
#agrego columnas men trf

In [605]:
 
df=test
df['Month']=pd.to_datetime(df['Month'])
df['anio']=df['Month'].dt.year
df['mes']=df['Month'].dt.month
#mes_cant_stage

In [606]:
df['mes']=df['mes'].astype(str)

In [607]:
mesTrf=df.groupby(['Opportunity_ID','mes' ]).agg(totalTrf=('TRF','sum')).unstack().fillna(0)

In [608]:
level0=mesTrf.columns.get_level_values(0)
level1=mesTrf.columns.get_level_values(1)

In [609]:
mesTrf.columns = level0 + '_' +  level1

In [610]:
mesTrf=mesTrf.reset_index()

In [611]:
testFinal=pd.merge(testFinal,mesTrf, on="Opportunity_ID", how='inner') 
testFinal

      Opportunity_ID  totalamount  totalTrf  ...  totalTrf_7  totalTrf_8  totalTrf_9
0              10689     367419.0         0  ...         0.0         0.0         0.0
1              10690     757783.5         1  ...         0.0         0.0         0.0
2              10691      21037.5         0  ...         0.0         0.0         0.0
3              10692    2169106.5         6  ...         0.0         0.0         0.0
4              10693       5752.5         0  ...         0.0         0.0         0.0
...              ...          ...       ...  ...         ...         ...         ...
1562           12364     147750.0         0  ...         0.0         0.0         0.0
1563           12365      45054.9         0  ...         0.0         0.0         0.0
1564           12366     100122.0         0  ...         0.0         0.0         0.0
1565           12367     143220.0         0  ...         0.0         0.0         0.0
1566           12368     871020.8         3  ...         0.0         0.0         0.0

[1567 rows x 28 columns]

In [612]:
listColumns=testFinal.columns.to_list()
listColumns.remove('Territory')
listColumns.remove('Region')
listColumns.remove('Delivery_Terms')
#listColumns.remove('Account_Owner')
listColumns.remove('Opportunity_ID')
listColumns
testFinal=testFinal[listColumns]

In [613]:
#X_train, y_test se sacan del df entrenamiento

In [614]:
testFinal=testFinal.fillna(0)

In [615]:
#guardo el test para despues usarlo
dicAcumTrainAndTest['test']=testFinal

In [616]:
prediccion=modelo.entrenarYPredecirWithTest(X_train,testFinal)

In [617]:
len(prediccion)

1567

diccioanrio para guardar los dfkaggle de cada modelo para hacer ensamble

In [618]:
dicAcumulaDfKaggle={}

In [619]:
entrenamientoFeatures=dicAcumTrainAndTest.get('entrenamiento')

In [620]:
testFeatures=dicAcumTrainAndTest.get('test')

In [621]:
X,Y=modelo.splitTrainTarget(entrenamientoFeatures)

las columnas del train son Index(['totalamount', 'totalTrf', 'meanTrf', 'cantTrf', 'cantProducFamilias',
       'maxTrf', 'meanDisPlannedStarAndPlannedEnd', 'meanTrfporTotalTrf',
       'cantProducFamiliasporTotalTrf', 'meanEncodingTerritory',
       'meanEncodingRegion', 'meanEncodingDelivery_Terms', 'totalTrf_1',
       'totalTrf_10', 'totalTrf_11', 'totalTrf_12', 'totalTrf_2', 'totalTrf_3',
       'totalTrf_4', 'totalTrf_5', 'totalTrf_6', 'totalTrf_7', 'totalTrf_8',
       'totalTrf_9'],
      dtype='object') y del target son  Stage

# este diccionario salio del feature seleccion, que esta al final del notebook

In [622]:
dicColumnasModelos={'RAMDOMOptimizado': ['totalTrf',
  'totalamount',
  'meanTrf',
  'cantTrf',
  'cantProducFamilias',
  'maxTrf',
  'meanDisPlannedStarAndPlannedEnd',
  'meanTrfporTotalTrf',
  'cantProducFamiliasporTotalTrf',
  'meanEncodingTerritory',
  'meanEncodingRegion',
  'meanEncodingDelivery_Terms',
  'totalTrf_10',
  'totalTrf_7'],
 'lgbOptimizado': ['totalTrf',
  'totalamount',
  'meanTrf',
  'cantTrf',
  'meanDisPlannedStarAndPlannedEnd',
  'meanTrfporTotalTrf',
  'meanEncodingTerritory',
  'meanEncodingRegion',
  'meanEncodingDelivery_Terms',
  'totalTrf_1',
  'totalTrf_3'],
 'xgboostOptimo': ['totalTrf',
  'totalamount',
  'meanTrf',
  'cantTrf',
  'cantProducFamilias',
  'meanDisPlannedStarAndPlannedEnd',
  'cantProducFamiliasporTotalTrf',
  'meanEncodingTerritory',
  'meanEncodingRegion',
  'meanEncodingDelivery_Terms',
  'totalTrf_1']}

# **ahora vamos a hacer del xgboost optimizado y ramdomforest optimizado

RED NEURONAL OPTIMIZADA

In [623]:
# modelo=modelosDic.get('neuralNetworkOptimizado')

# #cargamos el modelo 
# modelo=modelo
# print(modelo.nombre)

In [624]:
# X,Y=modelo.splitTrainTarget(entrenamientoFeatures)
# model = modelo.buscaMejorHiperparametroAndTrainModeloWithKfold(X,Y)
# prediccion=modelo.entrenarYPredecirWithTest(testFeatures, model)

In [625]:
# dicAcumulaDfKaggle[modelo.nombre]=modelo.formarDfKaggle(prediccion)

LGB Regresion OPTIMIZADO

In [626]:
modelo=modelosDic.get('lgbRegresionOptimizado')

#cargamos el modelo 
modelo=modelo
print(modelo.nombre)

lgbOptimizado

In [627]:
#X,Y=modelo.splitTrainTarget(entrenamientoFeatures)
bestColumnas=dicColumnasModelos.get('lgbOptimizado')
model = modelo.buscaMejorHiperparametroAndTrainModeloWithKfold(X[bestColumnas],Y)
prediccion=modelo.entrenarYPredecirWithTest(testFeatures[bestColumnas], model)

Fitting 3 folds for each of 5 candidates, totalling 15 fits

[Parallel(n_jobs=4)]: Using backend LokyBackend with 4 concurrent workers.

 Time taken: 0 hours 0 minutes and 3.57 seconds.

 All results:
{'mean_fit_time': array([0.18329891, 0.22603242, 0.26764258, 0.20079358, 0.19908683]), 'std_fit_time': array([0.04861922, 0.04206097, 0.07894156, 0.05562509, 0.05106094]), 'mean_score_time': array([0.04207341, 0.05781555, 0.07615932, 0.06133739, 0.02930148]), 'std_score_time': array([0.01781464, 0.03282869, 0.00743097, 0.02368868, 0.01086456]), 'param_subsample': masked_array(data=[1.0, 0.6, 0.8, 1.0, 0.8],
             mask=[False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_min_child_weight': masked_array(data=[5, 1, 5, 5, 1],
             mask=[False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_max_depth': masked_array(data=[3, 5, 5, 5, 4],
             mask=[False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_gamma': masked_array(data=[5, 1.5, 1, 5, 1],
             mask=[False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_colsample_bytree': masked_array(data=[1.0, 0.8, 0.8, 0.6, 1.0],
             mask=[False, False, False, False, False],
       fill_value='?',
            dtype=object), 'params': [{'subsample': 1.0, 'min_child_weight': 5, 'max_depth': 3, 'gamma': 5, 'colsample_bytree': 1.0}, {'subsample': 0.6, 'min_child_weight': 1, 'max_depth': 5, 'gamma': 1.5, 'colsample_bytree': 0.8}, {'subsample': 0.8, 'min_child_weight': 5, 'max_depth': 5, 'gamma': 1, 'colsample_bytree': 0.8}, {'subsample': 1.0, 'min_child_weight': 5, 'max_depth': 5, 'gamma': 5, 'colsample_bytree': 0.6}, {'subsample': 0.8, 'min_child_weight': 1, 'max_depth': 4, 'gamma': 1, 'colsample_bytree': 1.0}], 'split0_test_score': array([-0.39258357, -0.38557297, -0.38557297, -0.38726452, -0.38736322]), 'split1_test_score': array([-0.40900299, -0.40184373, -0.40184373, -0.40321384, -0.40387556]), 'split2_test_score': array([-0.40031477, -0.39466591, -0.39466591, -0.39512495, -0.39634646]), 'mean_test_score': array([-0.40063378, -0.39402754, -0.39402754, -0.3952011 , -0.39586175]), 'std_test_score': array([0.00670699, 0.00665783, 0.00665783, 0.00651151, 0.00674984]), 'rank_test_score': array([5, 1, 1, 3, 4], dtype=int32)}

 Best estimator:
LGBMRegressor(boosting_type='gbdt', class_weight=None, colsample_bytree=0.8,
              gamma=1.5, importance_type='split', learning_rate=0.1,
              max_depth=5, min_child_samples=20, min_child_weight=1,
              min_split_gain=0.0, n_estimators=100, n_jobs=-1, num_leaves=31,
              objective=None, random_state=1, reg_alpha=0.0, reg_lambda=0.0,
              silent=True, subsample=0.6, subsample_for_bin=200000,
              subsample_freq=0)

 Best   3-fold search with 5 parameter combinations:
-0.3940275393619226

 Best hyperparameters:
{'subsample': 0.6, 'min_child_weight': 1, 'max_depth': 5, 'gamma': 1.5, 'colsample_bytree': 0.8}

[Parallel(n_jobs=4)]: Done  15 out of  15 | elapsed:    3.4s finished

In [628]:
dicAcumulaDfKaggle[modelo.nombre]=modelo.formarDfKaggle(prediccion)

xGBOOST OPTIMIZADO

In [629]:
modelo=modelosDic.get('xgboostOptimo')

#cargamos el modelo 
modelo=modelo
print(modelo.nombre)

XGBOOSTopti

In [630]:
#X,Y=modelo.splitTrainTarget(entrenamientoFeatures)
bestColumnas=dicColumnasModelos.get('xgboostOptimo')
model=modelo.buscaMejorHiperparametroAndTrainModeloWithKfold(X[bestColumnas],Y)
prediccion=modelo.entrenarYPredecirWithTest(testFeatures[bestColumnas],model)

Fitting 3 folds for each of 5 candidates, totalling 15 fits

[Parallel(n_jobs=4)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  15 out of  15 | elapsed:   25.7s finished

 Time taken: 0 hours 0 minutes and 29.61 seconds.

 All results:
{'mean_fit_time': array([5.08707778, 7.69261821, 7.36905487, 6.4853553 , 5.71816969]), 'std_fit_time': array([0.15784401, 0.14702339, 0.19530486, 0.02768628, 0.37851674]), 'mean_score_time': array([0.03205729, 0.10041459, 0.15074595, 0.03570708, 0.08227475]), 'std_score_time': array([0.00510152, 0.00302787, 0.01129709, 0.00296892, 0.03629032]), 'param_subsample': masked_array(data=[1.0, 0.6, 0.8, 1.0, 0.8],
             mask=[False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_min_child_weight': masked_array(data=[5, 1, 5, 5, 1],
             mask=[False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_max_depth': masked_array(data=[3, 5, 5, 5, 4],
             mask=[False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_gamma': masked_array(data=[5, 1.5, 1, 5, 1],
             mask=[False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_colsample_bytree': masked_array(data=[1.0, 0.8, 0.8, 0.6, 1.0],
             mask=[False, False, False, False, False],
       fill_value='?',
            dtype=object), 'params': [{'subsample': 1.0, 'min_child_weight': 5, 'max_depth': 3, 'gamma': 5, 'colsample_bytree': 1.0}, {'subsample': 0.6, 'min_child_weight': 1, 'max_depth': 5, 'gamma': 1.5, 'colsample_bytree': 0.8}, {'subsample': 0.8, 'min_child_weight': 5, 'max_depth': 5, 'gamma': 1, 'colsample_bytree': 0.8}, {'subsample': 1.0, 'min_child_weight': 5, 'max_depth': 5, 'gamma': 5, 'colsample_bytree': 0.6}, {'subsample': 0.8, 'min_child_weight': 1, 'max_depth': 4, 'gamma': 1, 'colsample_bytree': 1.0}], 'split0_test_score': array([-0.40830301, -0.38797567, -0.38600523, -0.4054702 , -0.38817673]), 'split1_test_score': array([-0.41752574, -0.40618177, -0.40356243, -0.4162628 , -0.40453449]), 'split2_test_score': array([-0.4129955 , -0.39634988, -0.39461943, -0.41096611, -0.39661818]), 'mean_test_score': array([-0.41294142, -0.39683577, -0.39472903, -0.4108997 , -0.39644313]), 'std_test_score': array([0.00376536, 0.00744055, 0.00716811, 0.00440631, 0.00667917]), 'rank_test_score': array([5, 3, 1, 4, 2], dtype=int32)}

 Best estimator:
XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.8, gamma=1,
             importance_type='gain', learning_rate=0.05, max_delta_step=0,
             max_depth=5, min_child_weight=5, missing=None, n_estimators=500,
             n_jobs=1, nthread=None, objective='reg:squarederror',
             random_state=0, reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
             seed=None, silent=None, subsample=0.8, verbosity=1)

 Best   3-fold search with 5 parameter combinations:
-0.394729030651412

 Best hyperparameters:
{'subsample': 0.8, 'min_child_weight': 5, 'max_depth': 5, 'gamma': 1, 'colsample_bytree': 0.8}

In [631]:
dicAcumulaDfKaggle[modelo.nombre]=modelo.formarDfKaggle(prediccion)

#ramdomoforestoptimo

In [632]:
modelo=modelosDic.get('RandomForestRegreOptimo')

#cargamos el modelo 
modelo=modelo
print(modelo.nombre)

RAMDOMOptimizado

In [633]:
#X,Y=modelo.splitTrainTarget(entrenamientoFeatures)
bestColumnas=dicColumnasModelos.get('RAMDOMOptimizado')
model=modelo.buscaMejorHiperparametroAndTrainModeloWithKfold(X[bestColumnas],Y)
prediccion=modelo.entrenarYPredecirWithTest(testFeatures[bestColumnas],model)

Fitting 3 folds for each of 4 candidates, totalling 12 fits

[Parallel(n_jobs=4)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  10 out of  12 | elapsed:   39.8s remaining:    8.0s
[Parallel(n_jobs=4)]: Done  12 out of  12 | elapsed:   40.8s finished

 Time taken: 0 hours 0 minutes and 50.75 seconds.

 All results:
{'mean_fit_time': array([12.16040881, 12.24153479, 16.48052359,  9.81559738]), 'std_fit_time': array([0.03156039, 0.02069761, 0.74036213, 0.6682255 ]), 'mean_score_time': array([0.34807197, 0.33929825, 0.35957837, 0.21730812]), 'std_score_time': array([0.06020285, 0.01379032, 0.12445913, 0.04937013]), 'param_n_estimators': masked_array(data=[500, 500, 500, 500],
             mask=[False, False, False, False],
       fill_value='?',
            dtype=object), 'param_min_samples_split': masked_array(data=[5, 3, 4, 5],
             mask=[False, False, False, False],
       fill_value='?',
            dtype=object), 'param_min_samples_leaf': masked_array(data=[2, 1, 2, 2],
             mask=[False, False, False, False],
       fill_value='?',
            dtype=object), 'param_max_depth': masked_array(data=[5, 5, 8, 4],
             mask=[False, False, False, False],
       fill_value='?',
            dtype=object), 'params': [{'n_estimators': 500, 'min_samples_split': 5, 'min_samples_leaf': 2, 'max_depth': 5}, {'n_estimators': 500, 'min_samples_split': 3, 'min_samples_leaf': 1, 'max_depth': 5}, {'n_estimators': 500, 'min_samples_split': 4, 'min_samples_leaf': 2, 'max_depth': 8}, {'n_estimators': 500, 'min_samples_split': 5, 'min_samples_leaf': 2, 'max_depth': 4}], 'split0_test_score': array([-0.40015374, -0.40020092, -0.38775806, -0.40751916]), 'split1_test_score': array([-0.41556787, -0.41553613, -0.40319378, -0.42094209]), 'split2_test_score': array([-0.40618595, -0.40624929, -0.39604694, -0.4133888 ]), 'mean_test_score': array([-0.40730252, -0.40732878, -0.39566626, -0.41395002]), 'std_test_score': array([0.00634213, 0.00630694, 0.00630735, 0.00549424]), 'rank_test_score': array([2, 3, 1, 4], dtype=int32)}

 Best estimator:
RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=8, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=2,
                      min_samples_split=4, min_weight_fraction_leaf=0.0,
                      n_estimators=500, n_jobs=None, oob_score=False,
                      random_state=101, verbose=0, warm_start=False)

 Best   3-fold search with 4 parameter combinations:
-0.39566625994878035

 Best hyperparameters:
{'n_estimators': 500, 'min_samples_split': 4, 'min_samples_leaf': 2, 'max_depth': 8}

In [634]:
dicAcumulaDfKaggle[modelo.nombre]=modelo.formarDfKaggle(prediccion)

In [635]:
#vamos a ensamblar
sumPrediction=0
totalModelos=0
for i in dicAcumulaDfKaggle:
  totalModelos= totalModelos +1
  sumPrediction =  sumPrediction+  dicAcumulaDfKaggle.get(i)['Target']

print(totalModelos)
print(sumPrediction)
promedio=sumPrediction/totalModelos  
 
 
#esta prediccion tiene error de aproximacion, por eso no subir este df al kaggle, ahora en la siguientes lineas lo arreglamo
#eerror es que da mayor a 1 y vaces menor a 0 y la probabilida es entre 0 y 1
prediccionFinal=modelo.formarDfKaggle( promedio )

3
0       1.799284
1       1.773957
2       2.308747
3       1.949758
4       2.876152
          ...
1562    2.415099
1563    1.493872
1564    0.615037
1565    1.218270
1566    0.251293
Name: Target, Length: 1567, dtype: float64

In [636]:
#aca arreglamos el error
prediccionFinal['Target'] = (
    np.select(
        condlist=[prediccionFinal['Target'] > 1, prediccionFinal['Target'] < 0], 
        choicelist=[1, 0],
        default=prediccionFinal['Target'] ))

In [637]:
prediccionFinal["Target"].max()

1.0

In [638]:
#ahora si formamos el df a kaggle final
prediccionFinal=modelo.formarDfKaggle( prediccionFinal['Target'] )

In [639]:
prediccionFinal

      Opportunity_ID    Target
0              10689  0.599761
1              10690  0.591319
2              10691  0.769582
3              10692  0.649919
4              10693  0.958717
...              ...       ...
1562           12364  0.805033
1563           12365  0.497957
1564           12366  0.205012
1565           12367  0.406090
1566           12368  0.083764

[1567 rows x 2 columns]

In [640]:
# esto no es necesario correrlo, porque ya nos dio
#los mejores features, lo guardamos oen el diccionario
d

NameError: ignored

# vamos a hacer un seleccion feature para elegir los mejores columnas

In [ ]:
modelosDic={
         
         'xgboostOptimo':xgbosstOptimizado(Hiperparametros),
         'RandomForestRegreOptimo':RandomForestRegreOptimizado(Hiperparametros),
          
         'lgbRegresionOptimizado':lgbRegreOptimizado(Hiperparametros)
}

In [ ]:
dicColumnasModelos={}
for nombreModelo in modelosDic:
  columnas=X.columns.to_list()
  columnas.remove('totalTrf') 
  modelo=modelosDic[nombreModelo]
  scoreMaximo=5
  acumTheBestColumns.clear()
  acumTheBestColumns=['totalTrf']
  
  
  
  for columna in columnas:
    print(columna)
    acumTheBestColumns.append(columna)
    model=modelo.buscaMejorHiperparametroAndTrainModeloWithKfold( X[acumTheBestColumns],Y)
    score=model.best_score_ 
    if(scoreMaximo> -1*float( score)):
        scoreMaximo=-1*score
        print("  mejoro el score de" ,score , "se agrega la columna",columna)
    else:
        acumTheBestColumns.remove(columna)  
        print("no mejoro el score de" ,score , "se elimina la columna",columna)
  dicColumnasModelos[modelo.nombre]=acumTheBestColumns   
  print("lasmejores fueron columnas de ", nombreModelo," que acumulo ", acumTheBestColumns)

In [ ]:
#resultado de las mejores columnas en los siguientes modelos
#lasmejores fueron columnas de  xgboostOptimo  que acumulo  ['totalTrf', 'totalamount', 'meanTrf', 'cantTrf', 'cantProducFamilias', 'meanDisPlannedStarAndPlannedEnd', 'cantProducFamiliasporTotalTrf', 'meanEncodingTerritory', 'meanEncodingRegion', 'meanEncodingDelivery_Terms', 'totalTrf_1']
#lasmejores fueron columnas de  lgbRegresionOptimizado  que acumulo  ['totalTrf', 'totalamount', 'meanTrf', 'cantTrf', 'meanDisPlannedStarAndPlannedEnd', 'meanTrfporTotalTrf', 'meanEncodingTerritory', 'meanEncodingRegion', 'meanEncodingDelivery_Terms', 'totalTrf_1', 'totalTrf_3']
#lasmejores fueron columnas de  RandomForestRegreOptimo  que acumulo  ['totalTrf', 'totalamount', 'meanTrf', 'cantTrf', 'cantProducFamilias', 'maxTrf', 'meanDisPlannedStarAndPlannedEnd', 'meanTrfporTotalTrf', 'cantProducFamiliasporTotalTrf', 'meanEncodingTerritory', 'meanEncodingRegion', 'meanEncodingDelivery_Terms', 'totalTrf_10', 'totalTrf_7']


#{'RAMDOMOptimizado': ['totalTrf',
#  'totalamount',
#  'meanTrf',
#  'cantTrf',
#  'cantProducFamilias',
#  'maxTrf',
#  'meanDisPlannedStarAndPlannedEnd',
#  'meanTrfporTotalTrf',
#  'cantProducFamiliasporTotalTrf',
#  'meanEncodingTerritory',
#  'meanEncodingRegion',
#  'meanEncodingDelivery_Terms',
#  'totalTrf_10',
#  'totalTrf_7'],
# 'lgbOptimizado': ['totalTrf',
#  'totalamount',
#  'meanTrf',
#  'cantTrf',
#  'meanDisPlannedStarAndPlannedEnd',
#  'meanTrfporTotalTrf',
#  'meanEncodingTerritory',
#  'meanEncodingRegion',
#  'meanEncodingDelivery_Terms',
#  'totalTrf_1',
#  'totalTrf_3'],
# 'xgboostOptimo': ['totalTrf',
#  'totalamount',
#  'meanTrf',
#  'cantTrf',
#  'cantProducFamilias',
#  'meanDisPlannedStarAndPlannedEnd',
#  'cantProducFamiliasporTotalTrf',
#  'meanEncodingTerritory',
#  'meanEncodingRegion',
#  'meanEncodingDelivery_Terms',
#  'totalTrf_1']}