In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
import nltk
from nltk.stem import PorterStemmer
import matplotlib.ticker as mtick
from urllib.parse import urlparse

In [7]:
df_eci = pd.read_csv('Entrenamieto_ECI_2020.csv')

In [8]:
df_eci.head()

,ID,Region,Territory,"Pricing, Delivery_Terms_Quote_Appr","Pricing, Delivery_Terms_Approved",Bureaucratic_Code_0_Approval,Bureaucratic_Code_0_Approved,Submitted_for_Approval,Bureaucratic_Code,Account_Created_Date,...,Delivery_Quarter,Delivery_Year,Actual_Delivery_Date,TRF,Total_Amount_Currency,Total_Amount,Total_Taxable_Amount_Currency,Total_Taxable_Amount,Stage,Prod_Category_A
0,27761,EMEA,None,1,1,1,1,0,Bureaucratic_Code_4,6/16/2015,...,Q2,2016,NaT,10,EUR,5272800.0,EUR,5272800.0,Closed Lost,Prod_Category_A_None
1,27760,EMEA,None,0,0,0,0,0,Bureaucratic_Code_4,6/16/2015,...,Q1,2016,NaT,0,EUR,48230.0,EUR,48230.0,Closed Won,Prod_Category_A_None
2,27446,Americas,NW America,0,0,0,0,0,Bureaucratic_Code_4,4/21/2015,...,Q1,2016,NaT,0,USD,83865.6,USD,83865.6,Closed Won,Prod_Category_A_None
3,16808,Americas,NW America,1,0,1,0,0,Bureaucratic_Code_5,7/27/2013,...,Q1,2018,NaT,14,USD,7421881.5,USD,7421881.5,Closed Lost,Prod_Category_A_None
4,16805,Americas,NW America,1,0,1,0,0,Bureaucratic_Code_5,7/27/2013,...,Q1,2018,NaT,25,USD,13357192.5,USD,13357192.5,Closed Lost,Prod_Category_A_None

In [10]:
df_eci.dtypes

ID                                      int64
Region                                 object
Territory                              object
Pricing, Delivery_Terms_Quote_Appr      int64
Pricing, Delivery_Terms_Approved        int64
Bureaucratic_Code_0_Approval            int64
Bureaucratic_Code_0_Approved            int64
Submitted_for_Approval                  int64
Bureaucratic_Code                      object
Account_Created_Date                   object
Source                                 object
Billing_Country                        object
Account_Name                           object
Opportunity_Name                       object
Opportunity_ID                          int64
Sales_Contract_No                      object
Account_Owner                          object
Opportunity_Owner                      object
Account_Type                           object
Opportunity_Type                       object
Quote_Type                             object
Delivery_Terms                         object
Opportunity_Created_Date               object
Brand                                  object
Product_Type                           object
Size                                   object
Product_Category_B                     object
Price                                  object
Currency                               object
Last_Activity                          object
Quote_Expiry_Date                      object
Last_Modified_Date                     object
Last_Modified_By                       object
Product_Family                         object
Product_Name                           object
ASP_Currency                           object
ASP                                   float64
ASP_(converted)_Currency               object
ASP_(converted)                       float64
Planned_Delivery_Start_Date            object
Planned_Delivery_End_Date              object
Month                                  object
Delivery_Quarter                       object
Delivery_Year                           int64
Actual_Delivery_Date                   object
TRF                                     int64
Total_Amount_Currency                  object
Total_Amount                          float64
Total_Taxable_Amount_Currency          object
Total_Taxable_Amount                  float64
Stage                                  object
Prod_Category_A                        object
dtype: object

In [12]:
df_eci["Region"].value_counts()

Japan          4892
EMEA           4664
Americas       3945
APAC           3262
Middle East     184
Name: Region, dtype: int64

In [11]:
df_eci["Territory"].value_counts()

None          4999
Germany       1682
NW America    1568
Australia     1208
India          809
              ...
Egypt            1
Georgia          1
Burma            1
Slovenia         1
Croatia          1
Name: Territory, Length: 76, dtype: int64

In [44]:
df_eci["unos"] = 1
pivot = df_eci.pivot_table(index = "Region", columns = "Territory", values = "unos", aggfunc = lambda x : x.count())
pivot

Territory,Albania,Armenia,Australia,Austria,Belarus,Belgium,Bosnia & Herzegovina,Bulgaria,Burma,Cambodia,...,Switzerland,Taiwan,Thailand,Tunisia,Turkey,UAE (Dubai),UAE (Others),Ukraine,United Kingdom,Vietnam
Region,,,,,,,,,,,,,,,,,,,,,
APAC,NaN,NaN,1208.0,NaN,NaN,NaN,NaN,NaN,1.0,4.0,...,NaN,33.0,173.0,NaN,NaN,NaN,NaN,NaN,NaN,51.0
Americas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EMEA,2.0,2.0,NaN,145.0,4.0,285.0,4.0,5.0,NaN,NaN,...,21.0,NaN,NaN,5.0,29.0,12.0,NaN,5.0,313.0,NaN
Japan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Middle East,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,19.0,2.0,NaN,NaN,NaN

In [46]:
pivot = pivot.loc[:, pivot.count() != 1]
pivot

Territory    Jordan   KSA  Kuwait    None  SE America  SW America  UAE (Dubai)
Region
APAC            NaN   NaN     NaN     NaN         NaN         NaN          NaN
Americas        NaN   NaN     NaN   571.0       483.0       204.0          NaN
EMEA            1.0   2.0     1.0   187.0        10.0         2.0         12.0
Japan           NaN   NaN     NaN  4211.0         NaN         NaN          NaN
Middle East   101.0  11.0     3.0    30.0         NaN         NaN         19.0